@import './variables';

.colorItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: $border-radius;
    background-color: $primary;
    color: $accent;
    font-size: 1.25rem;
    font-weight: 700;

    & > p {
        background-color: rgb(43, 43, 43);
        color: whitesmoke;
        padding: 0.25rem;
        border-radius: $border-radius;
        transform: translateY(2.5rem);
    }

    & > button {
        @include buttonStyle;
    }
}